.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 1rem;
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 10;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
